* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

img {
    width: auto;
    height: 100%;
}

input {
    border: 0;
}
body {
    background: #0C0C0C;
}

main {
    background: no-repeat center url("../img/blackBrain.svg");
    background-size: auto 108px;
}

:root {
    --display-preloader: flex;
    --display-chat: none;
}

.preloader {
    display: var(--display-preloader);
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    gap: 47px;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #0C0C0C;
}

.preloader--box-logo {
    width: 148px;
    height: 38px;
}

.moving-text {
    font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 28px;
	color: #fafafa;
}

.dud {
	color: #757575;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 2560px;
    height: 100%;
    max-height: 1440px;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
}

.chat--messages {
    height: 100%;
    min-height: 400px;
    padding: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    border-radius: 19px;
    font-size: 26px;
    line-height: 1.4;
    animation: 1s blob-anim;
}

.chat--messages::-webkit-scrollbar {
    background: #0C0C0C;
    width: 7px;
}

.chat--messages::-webkit-scrollbar-thumb {
    background: #4e4e4e;  
    border-radius: 6px;
    height: 10px;
}

.chat--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
}

.chat--menu-button {
    flex-shrink: 0;
    width: 112px;
    height: 92px;
    border-radius: 15px;
    background: no-repeat center var(--url), #FF7AAA;
    background-size: auto 48px;
    cursor: pointer;
}

.chat--menu-del {
    --url: url("../img/trashcan.png");
}

.chat--menu-input {
    width: 100%;
    max-width: 2560px;
    height: 100%;
    padding-left: 22px;
    border-radius: 15px;
    background: #FFF;
    color: #737373;
    font-size: 36px;
}

.chat--menu-submit {
    --url: url("../img/arrow.png");
}

.blob {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 60%;
    padding: 17px 30px;
    margin: 7.5px 0;
    border-radius: 22.5px;
}

@keyframes blob-anim {
    0% {
        opacity: 0;
    } 

    100% {
        opacity: 1;
    }
}

.blob.user {
    background-color: #FF7AAA;
    color: #FFF;
    align-self: flex-end;
}

.blob.bot {
    background-color: #E6E6E6;
    color: #0C0C0C;
    align-self: flex-start;
}
.blob ol, .blob li, .blob ul {
    margin-left: 30px;
}
pre {
    position: relative;
    background-color: #161616;
    color: #FFF;
    border-radius: 15px 15px 10px 10px;
    padding: 55px 30px 20px 30px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 24px;
}
.blob--head {
    content: "";
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    padding: 0 12px;
    border-radius: 10px 10px 0px 0px;
    background: #292929;
}
pre h2 {
    font-size: 21px;
}
pre button {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 1.5px 5px;
    border: 0;
    border-radius: 3px;
    background: #444;
    color: #FFF;
    font-size: 19px;
    cursor: pointer;
}
pre button::before {
    content: "";
    background: no-repeat center url("../img/Copy.png");
    background-size: auto 16px;
    width: 16px;
    height: 16px;
}

.notification {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 72px;
    padding: 10px;
    background-color: #FF4588;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.notification-icon {
    width: 48px;
    height: 48px;
}

.notification-text {
    margin-left: 10px;
    font-size: 18px;
    line-height: 1.2;
}
